* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

:-webkit-autofill {
    -webkit-text-fill-color: inherit !important;
    transition: background-color 5000s ease-in-out 0s;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin-bottom: 0;
}

li {
    list-style-type: none;
}

h2 {
    font-size: 1.4rem;
}

html {
    &.desktop {
        font-size: $font-size;
    }
    &.mobile {
        font-size: $mobile-font-size;
    }
}

html,
body {
    @include wh(100%);
    overflow: hidden;
    touch-action: none;
}

body {
    position: relative;
    margin: 0 auto;
    font-family: $font-family;
    color: $global-font-color;
}

#app {
    position: relative;
    @include wh(100%);
}

// ali icon
[class^='el-icon-ali'],
[class*='el-icon-ali'] {
    font-family: 'iconfont' !important;
    font-size: 0.9rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@import './normal';
@import './mobile';
