.el-message-box,
.el-message {
    min-width: $message-box-width;
    max-width: $message-box-width;
    z-index: $message-box-zIndex;
}

.el-dialog__wrapper {
    @include sub-center;
}

.el-dialog {
    @include flex-column;
    max-width: $dialog-width;
    max-height: $dialog-max-height;
    margin: 0 !important;
}

.el-dialog__body {
    padding: $dialog-body-padding;
    flex: 1;
    overflow: auto;
}

.el-dialog__footer {
    padding: $dialog-body-footer;
}

.el-dialog__wrapper {
    overflow: hidden;
}

.toolbar {
    padding: 3px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.el-loading-mask {
    z-index: $loading-mask-zIndex;
}

.inner-container {
    @include wh(100%);
}

.table-content {
    @include wh(100%);
    @include flex-column;
}

.el-button--mini {
    padding: $button--mini-padding;
}

* + .el-button {
    margin-left: $after-button-margin-left;
}

.el-switch {
    text-align: left;
    line-height: 40px;
}

.el-form--inline .el-form-item {
    margin: $form-item-margin;
}

.el-form-item-container {
    margin-bottom: $form-item-margin-bottom;
}

.el-form-item:not(.el-form-item-container) {
    margin-bottom: $form-item-margin-bottom;
}

.search .el-form-item:not(.el-form-item-container) {
    margin-bottom: 0px;
}

.el-form-item {
    margin-bottom: 0;

    label {
        text-align: center;
        font-size: 0.8rem;
    }
}

.el-input-number,
.el-date-editor.el-input,
.el-date-editor.el-input__inner {
    width: auto;
}

.el-input-number--mini {
    width: $input-number--mini-width;
}

.el-input--suffix .el-input__inner {
    padding: $input-suffix-padding;
}

.el-select .el-input.is-focus .el-input__inner {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.table-card {
    flex: 1;
    @include flex-column;

    .el-card__body {
        flex: 1;
        overflow: hidden;
    }
}

.el-dropdown {
    font-size: 1.1rem;
}

.el-textarea__inner {
    font-family: inherit;
}

.font-size-small {
    font-size: 0.8rem;
}

.status {
    font-size: 1rem;
    font-weight: 600;
    padding: 10px;

    &.yes {
        color: #67c23a;
    }

    &.no {
        color: #f56c6c;
    }
}
