.el-message-box,
.el-message {
    min-width: 330px;
    max-width: 330px;
}

.el-dialog__wrapper {
    @include sub-center;
}

.el-dialog {
    max-width: 600px;
    @include flex-column;
    // height: auto;
    max-height: 70%;
    margin: 0 !important;
}

.el-dialog__body {
    padding: 10px 20px 0;
    flex: 1;
    overflow: auto;
}

.el-dialog__footer {
    padding: 0 20px 20px;
}

.el-dialog__wrapper {
    overflow: hidden;
}

.toolbar {
    padding: 3px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back {
    &::after {
        content: "←";
        font-size: 1.3rem;
        font-weight: bold;
    }
}

.a {
    color: #409eff;
    font-size: 0.8rem;
}

.inner-container {
    @include wh(100%);
}

.table-content {
    @include wh(100%);
    @include flex-column;
}

.el-button--mini {
    padding: 7px 10px;
}

* + .el-button {
    margin-left: 10px;
}

.el-button + * {
    margin-left: 10px;
}

.el-switch {
    text-align: left;
    line-height: 40px;
}

.el-form-item-container {
    margin-bottom: 10px;
}

.el-form-item:not(.el-form-item-container) {
    margin-bottom: 10px;
}

.el-form-item {
    margin-bottom: 0;

    label {
        text-align: center;
        font-size: 0.8rem;
    }
}

.el-input-number,
.el-date-editor.el-input,
.el-date-editor.el-input__inner {
    width: auto;
}

.el-input-number--mini {
    width: 130px;
}

.el-select .el-input.is-focus .el-input__inner {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.table-card {
    flex: 1;
    @include flex-column;

    .el-card__body {
        flex: 1;
        overflow: hidden;
    }
}

.el-dropdown {
    font-size: 1.1rem;
}

.el-textarea__inner {
    font-family: inherit;
}

.font-size-small {
    font-size: 0.8rem;
}

.status {
    font-size: 1rem;
    font-weight: 600;
    padding: 10px;

    &.yes {
        color: #67c23a;
    }

    &.no {
        color: #f56c6c;
    }
}
