@mixin flex {
    display: flex;
}

@mixin flex-column {
    @include flex;
    flex-direction: column;
}

@mixin sub-center {
    @include flex;
    align-items: center;
    justify-content: center;
}

@mixin center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

@mixin po-abs {
    position: absolute;
    top: 0;
    left: 0;
}

@mixin padding {
    @include padding-x;
    @include padding-y;
}

@mixin padding-x($padding: $app-padding) {
    padding-left: $padding;
    padding-right: $padding;
}

@mixin padding-y($padding: $app-padding) {
    padding-top: $padding;
    padding-bottom: $padding;
}

@mixin wh($width, $height: false) {
    width: $width;

    @if $height {
        height: $height;
    } @else {
        height: $width;
    }
}

@mixin nav {
    @include flex;
    justify-content: space-around;
    align-items: center;

    .nav-item a {
        display: block;
        @include wh(100%);
        color: $secondary-font-color;

        &.router-link-active {
            color: $highlight-color;
        }
    }
}

@mixin center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

@mixin mask($zIndex: 1, $bg: rgba(0, 0, 0, 0.4)) {
    @include center;
    @include wh(100%);
    background: $bg;
    z-index: $zIndex;
}

@mixin no-user-select {
    user-select: none;
}

@mixin no-scrollbar {
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

@mixin footer {
    @include wh(100%, 30px);
    @include flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(102, 102, 102);
    opacity: 0.5;

    .title {
        font-size: 0.8rem;
    }

    .copyright {
        font-size: 0.5rem;
    }
}
