//
$font-family: "Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,FZLanTingHeiS-L-G,PingFang SC,Microsoft YaHei";
$font-size: 14px;
$mobile-font-size: 12px;

$app-padding: 0.8vw;

$global-font-color: #34495e;
$secondary-font-color: #95928d;

$sidebar-color: #f7f7f7;
$sidebar-width: 220px;

$gighlight-color: #409eff;

$app-header-height: 62px;
$app-header-bgcolor: #409eff;
$app-header-color: #ffffff;

$app-menu-item-height: 50px;
$app-menu-item-color: #303133;
$app-menu-item-active-color: #409eff;
$app-sub-menu-item-bgcolor: #f7f7f7;
$app-menu-item-hover-bgcolor: #ecf5ff;

$card-header-height: 25px;
$card-header-padding: 8px $app-padding;
$card-body-padding: 5px $app-padding;

$table-width: 100%;
$table-height: 93%;
$table-font-size: 0.95rem;
$table-row-padding: 8px 0;

$hamburger-font-size: 1.2rem;
$hamburger-padding: 8px;

$input-suffix-padding: 0 15px;

$form-item-margin: 0;

$message-box-width: 300px;
$message-box-zIndex: 3000;

$dialog-width: 600px;
$dialog-max-height: 700px;
$dialog-body-padding: 10px 20px 0;
$dialog-body-footer: 0 20px 20px;

$loading-mask-zIndex: 999;

$button--mini-padding: 5px 8px;

$after-button-margin-left: 10px;

$form-item-margin-bottom: 4px;

$input-number--mini-width: 130px;
