//
$font-family: "Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,FZLanTingHeiS-L-G,PingFang SC,Microsoft YaHei";
$font-size: 14px;
$mobile-font-size: 12px;
// sizes
$app-padding: 0.8vw;
// colors

$global-font-color: #34495e;
$secondary-font-color: #95928d;

$gighlight-color: #409eff;
