//
$font-family: "Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,FZLanTingHeiS-L-G,PingFang SC,Microsoft YaHei";
$font-size: 14px;
// sizes
$app-padding: 1.3vw;
// colors

$global-font-color: #34495e;
$secondary-font-color: #95928d;

$gighlight-color : #5485f7;