* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:hover {
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 28px;
    margin: 0;
    padding: 0;
    color: #333;
}

li {
    list-style-type: none;
}

html,
body {
    min-height: 100%;
    height: 100%;
}

body {
    width: 95%;
    margin: 0 auto;
    font-size: 12px;
}


@media screen and (min-width:1200px) {
    body {
        width: 80%;
    }
}

@media screen and (max-width:700px) {
    body {
        font-size: 10px;
    }

    h1 {
        font-size: 16px;
    }
}

.header {
    height: 80px;
}

.header h1 {
    float: left;
}

.header>* {
    line-height: 80px;
}

.header a {
    float: right;
    font-size: 16px;
}

.main {
    width: 100%;
}

.footer {
    text-align: center;
    height: 50px;
    line-height: 50px;
}


.form-container {
    padding: 45px;
    border-radius: 8px;
    width: 35%;
    background: #eee;
}

.form-container form {
    display: block;
    margin-top: 50px;
}

.input-group,
.form-group {
    margin-top: 25px;
}

.clear {
    zoom: 1;
}

.clear::after {
    content: '';
    clear: both;
}